<h1>Rate / Edit Trip</h1>

<%= form_for @trip do | f | %>

<div>
  <%= f.label :driver_id %>
  <%= f.select :driver_id, Driver.all.map { | driver | [driver.name, driver.id]} %>
</div>

<div>
  <%= f.label :passenger_id %>
  <%= f.select :passenger_id, Passenger.all.map { | passenger | [passenger.name, passenger.id]} %>
</div>

<div>
  <%= f.date_select :date %>
</div>

<div>
  <%= f.label :rating %>
  <%= f.text_field :rating %>
</div>

<div>
  <%= f.submit %>
</div>

<% end %>
