<h1>Rate / Edit Trip</h1>

<%= form_for @trip, url: passenger_trips_path(@trip.passenger_id) do |f| %>

<div>
  <%= f.label :driver_id, class: "trip" %>
  <%= f.text_field :driver_id %>
</div>

<div>
  <%= f.label :passenger_id %>
  <%= f.text_field :passenger_id %>
</div>

<div>
  <%= f.label :date %>
  <%= f.date_field :date %>
</div>

<div>
  <%= f.label :rating %>
  <%= f.text_field :rating %>
</div>

<div>
  <%= f.submit action_name, method: :put %>
</div>

<% end %>
