<h2>All Trips</h2>
<ul class="trips-grid-container">
  <li class="inner-grid-container">
    <span class="col-name">ID</span>
    <span class="col-name">Date</span>
    <span class="col-name">Driver Name</span>
    <span class="col-name">Passenger Name</span>
    <span class="col-name">Cost</span>
    <span class="col-name">Modify</span>
  </li>
  <% @trips.each do |trip| %>
  <li class="inner-grid-container">
    <span class="title">
      <%= link_to trip.id, trip_path(trip.id) %>
    </span>
    <span><%= trip.date.strftime('%b %d, %Y') %></span>
    <span><%= trip.driver.name %></span>
    <span><%= trip.passenger.name %></span>
    <span>$<%= trip.cost.to_f/100 %></span>
    <span>
      <%= link_to "Edit", edit_trip_path(trip.id) %>
      <%= link_to "Delete", trip_path(trip.id),method: :delete, data: {confirm: "Warning: This Trip will be deleted. Click OK to confirm."} %>
    </span>
  </li>
  <% end %>
</ul>
