<h2> Trip #<%= @trip.id %> </h2>
<table>
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Driver</th>
    <th>Passenger</th>
    <th>Cost</th>
    <th>Rating</th>
  </tr>
  <tr>
    <td><%= @trip.id %></td>
    <td><%= @trip.date %></td>
    <td><%= @trip.driver.name %></td>
    <td><%= @trip.passenger.name %></td>
    <td><%= @trip.cost %></td>
    <td><%= @trip.rating %></td>
  </tr>
</table>
<%= link_to "Back", trips_path %>
