<h1>Passenger Information</h1>

<% sum = 0 %>
<% @passenger_trips.each do |trip|%>
  <% sum += trip.cost %>
<% end %>

<ul>
  <li>Name: <%= @passenger.name %></li>
  <li>Phone Number: <%= @passenger.phone_num%></li>
  <!-- to add picture and car make and model -->
  <li>Total Amount Paid: $<%= sum.to_f/100 %></li>
  <li><%= link_to "Request Trip", passenger_trips_path(@passenger), method: :post %></li>
  <li>
    <%= link_to "Edit", edit_passenger_path %>
  </li>
  <li>
    <%= link_to "Delete", passenger_path(@passenger.id),method: :delete, data: {confirm: "Warning: Passenger will be deleted. Click OK to confirm."} %>
  </li>
</ul>

<ul class="specific-trips-grid-container">
  <li class="inner-grid-container">
    <span class="col-name">Trip ID</span>
    <span class="col-name">Date</span>
    <span class="col-name">Passenger</span>
    <span class="col-name">Driver Rating</span>
    <span class="col-name">Trip Cost</span>
  </li>
  <% @passenger_trips.each do |trip|%>
  <li class="inner-grid-container">
    <span class="title">
      <%= link_to trip.id, trip_path(trip.id) %>
    </span>
    <span><%=trip.date.strftime('%b %d, %Y')%></span>
    <span><%=trip.passenger.name%></span>
    <span><%=trip.rating%></span>
    <span>$<%=trip.cost.to_f/100%></span>
  </li>
  <% end %>
</ul>
