<h1><%= form_title %></h1>

<%= form_for @driver do |f| %>

<div class="form">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="form">
  <%= f.label :vin %>
  <%= f.text_area :vin %>
</div>

<div class="form">
  <%= f.submit  %>
</div>

<% end %>
