<h1>Driver Info</h1>

<ul>
	<li><%= @driver.name %></li>
	<li><%= @driver.vin %></li>
  <!-- to add picture and car make and model -->
</ul>

<table>
  <!-- <%= @driver_trips %> -->
  <% @driver_trips.each do |trip|%>
    <%= trip.id %>
    <%= trip.date %>
    <%= trip.passenger.name %>
    <%= trip.rating %>
    <%= trip.cost %>
  <% end%>
</table>



<ul>
  <li>
    <%= link_to "Edit", edit_driver_path %>
  </li>
  <li>
    <!-- Goes to the book path and changes the verb from GET to DELETE. The path is the same for SHOW and delete -->
    <%= link_to "Delete", driver_path(@driver.id), method: :delete %>
  </li>
</ul>
