<h1>Driver Info</h1>

<ul>
  <li><%= @driver.name %></li>
  <li><%= @driver.vin %></li>
  <!-- to add picture and car make and model -->
</ul>

<table>
  <tr>
    <th>Trip ID</th>
    <th>Date</th>
    <th>Passenger</th>
    <th>Driver Rating</th>
    <th>Trip Cost</th>
  </tr>

  <% @driver_trips.each do |trip|%>

  <tr>
    <td><%= trip.id %><td>
      <td><%= trip.date %><td>
        <td><%= trip.passenger.name %><td>
          <td><%= trip.rating %><td>
            <td><%= trip.cost %><td>
              <% end%>
            </table>



            <ul>
              <li>
                <%= link_to "Edit", edit_driver_path %>
              </li>
              <li>
                <!-- Goes to the book path and changes the verb from GET to DELETE. The path is the same for SHOW and delete -->
                <%= link_to "Delete", driver_path(@driver.id), method: :delete, data: {confirm: "Warning: Driver will be deleted. Click OK to confirm."} %>
              </li>
            </ul>
