<h1>Driver Info</h1>

<% sum = 0 %>
<% rating = 0 %>
<% total_trips = @driver_trips.count %>
<% @driver_trips.each do |trip|%>
  <% sum += trip.cost %>
  <% rating += trip.rating %>
<% end %>

<ul>
  <li>Name: <%= @driver.name %></li>
  <li>Vin: <%= @driver.vin %></li>
  <!-- to add picture and car make and model -->
  <li>Total Cost: $<%= sum.to_f/100 %></li>
  <% if total_trips != 0 %>
    <li>Average Rating: <%= (rating/total_trips).to_f %></li>
  <% else %>
    <li>Average Rating: 0</li>
  <% end %>
  <li>
    <%= link_to "Edit", edit_driver_path %>
  </li>
  <li>
    <!-- Goes to the book path and changes the verb from GET to DELETE. The path is the same for SHOW and delete -->
    <%= link_to "Delete", driver_path(@driver.id), method: :delete, data: {confirm: "Warning: Driver will be deleted. Click OK to confirm."} %>
  </li>
</ul>

<ul class="driver-trips-grid-container">
  <li class="inner-grid-container">
    <span class="col-name">Trip ID</span>
    <span class="col-name">Date</span>
    <span class="col-name">Passenger</span>
    <span class="col-name">Driver Rating</span>
    <span class="col-name">Trip Cost</span>
  </li>
  <% @driver_trips.each do |trip|%>
  <li class="inner-grid-container">
    <span class="title">
      <%= link_to trip.id, trip_path(trip.id) %>
    </span>
    <span><%=trip.date.strftime('%b %d, %Y')%></span>
    <span><%=trip.passenger.name%></span>
    <span><%=trip.rating%></span>
    <span>$<%=trip.cost.to_f/100%></span>
  </li>
  <% end %>
</ul>
